{% extends "base.html" %}
{% load static %}

{% block title %} My Portfolio {% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Alton Vanie Kesselly</h1>
      <p><span class="typed" data-typed-items="Educator. Research Scientist. Data Analyst."></span></p>
    </div>
  </section><!-- End Hero -->
{% endblock %}
