{% extends "base.html" %}
{% load static %}
{% block title %}Resume{% endblock %}

{% block content %}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>Resume</h2>
          <p>
           Here's a brief overview of my resume, showcasing my extensive experience in diverse roles and
            disciplines. My career highlights include significant positions as an educator,
            research scientist, and data analyst, demonstrating a consistent record of professional excellence.
          </p>
          <p>
            My academic foundation is exceptionally strong, having pursued studies in diverse international
            settings, including Liberia, Nigeria, South Africa, China, the United States, as wel
            l as self-taught and online studies. This global educational background has equipped
            me with a broad perspective and unique insights, significantly enhancing my
            professional versatility and adaptability.
          </p>
          <p>
            Explore my Portfolio page to download a detailed copy of my resume. For more insights into my work,
            experiences, and educational background, please reach out through the Contact page.
            I am available to provide further information and answer any questions you may have.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Alton V. Kesselly</h4>
              <p><em>
                I am a deeply dedicated professional with over eight years of invaluable experience spanning
                Education, Mathematics, Physics, Scientific research, and Data Analysis. My robust academic
                and professional
                background empowers me to tackle complex challenges with precision and insight.
                I am passionate about applying strategic leadership and adept management skills
                to drive meaningful outcomes and make a significant impact in my field.
              </em></p>
              <ul>
                <li>Old CID Road, Mamba Point, Monrovia, Liberia</li>
                <li>(+231) 888-757477</li>
                <li>kessellyalton@outlook.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Science in Applied Mathematics</h4>
              <h5>2013 - 2015</h5>
              <p><em>University of Cape Town, Cape Town, South Africa</em></p>
              <p>
                I investigated and researched cutting-edge issues in the physics of black holes, particularly
                focusing on the intriguing question: If a black hole evaporates completely, what happens
                to the information inside?<br>
                My thesis presents compelling ideas on how the information
                <em>loss problem might be resolved, offering fresh insights into this fundamental mystery.</em>
                <br>

              </p>
               <a href="https://open.uct.ac.za/server/api/core/bitstreams/b5e6d544-91ab-4080-9cdb-a7267b519950/content" target="_blank">
                 View my UCT thesis here.
               </a>
            </div>

            <div class="resume-item">
              <h4>Master of Science in Mathematical Sciences</h4>
              <h5>2012 - 2013</h5>
              <p><em>African Institute for Mathematical Science/University of Stellenbosch, Cape Town,
                South Africa</em>
              </p>
              <p>
               I reviewed the Chameleon particle and explained how its two distinctive features—a thin shell
                and environmental mimicry—account for a fifth force that remains locally undetectable.
                This work aims to offer an alternative explanation for the mysterious Dark Energy,
                a significant enigma in the scientific community.
              </p>
               <a href="https://www.academia.edu/44771963/Chameleon_Field_Theories_and_Fifth_Force" target="_blank">
            View my work at AIMS/Stellenbosch here.
          </a>
            </div>

            <div class="resume-item">
              <h4>Master of Science in Astronomy</h4>
              <h5>2008 - 2011</h5>
              <p><em>University of Science and Technology of China, Hefei, Anhui Province, China</em></p>
              <p>

                I demonstrated that a high signal-to-noise ratio and better spatially resolved data can
                explain some observations that appear inconsistent with the Unification Models
                of Active Galactic Nuclei.
              </p>
              <a href="https://d.wanfangdata.com.cn/thesis/Y2029937" target="_blank">Read more here</a>
            </div>

            <div class="resume-item">
              <h4>Bachelor of Science in Physics</h4>
              <h5>2002 - 2007</h5>
              <p><em>University of Abuja, Abuja, Nigeria</em></p>
              <p>
               I delved deeply into the complexities of the geomagnetic field, analyzing its unique properties
                and assessing its wide-ranging impacts on society and human health. My investigation aimed
                to uncover both the benefits and potential hazards of geomagnetic phenomena,
                contributing valuable insights to environmental science and public health discussions.
              </p>
            </div>


            <div class="resume-item">
              <h4>Diploma in Chinese Language</h4>
                <h5>2007 - 2008</h5>
                <p><em>Anhui Normal University, Wuhu, China</em></p>
                <p>

          I dedicated an entire year to mastering Chinese, focusing intensively on grammar, pronunciation,
                  and speaking. This rigorous study allowed me to achieve a solid foundation
                  in the language, enhancing my communication skills and cultural understanding.
              </p>
            </div>

          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Online Courses</h3>
            </div>


            <div class="resume-item">
              <h4>Certificates in Git, HTML, CSS, JavaScript, React js, Python, Django and Machine Learning</h4>
                <h5>2021 - 2024</h5>

                <p>
                  Certificates from:
                  <em><a href="https://codewithmosh.com/" target="_blank">Code with Mosh |</a> </em>
                  <em><a href="https://www.udemy.com/" target="_blank">Udemy |</a> </em>
                  <em><a href="https://www.linkedin.com/learning/" target="_blank">Linkedin Learning</a> </em>
                </p>

                  Between 2021 and now, I have equipped myself with a robust skill set for full-stack
              development and data science. I have mastered version control with Git, built responsive
              and dynamic web pages using HTML, CSS, and JavaScript, and created powerful user
              interfaces with React.js. Additionally, I delved into Python programming, harnessed
              Django for backend development, and explored machine learning to develop intelligent algorithms.
              These courses have provided me with comprehensive knowledge, practical experience,
              and the confidence to tackle complex projects, making me a versatile and highly
              sought-after tech professional.

            </div>













          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Deputy Minister of Education for Planning, Research and Development</h4>
              <h5>Ministry of Education-Liberia</h5>
              <h6>2018 - 2024</h6>
              <p><em>Oldest Congo Town, Monrovia, Liberia</em></p>
              <ul>
                <li>Led designing, developing, managing and coordinating of policies, procedures and activities
                  for reviewing and updating national education plans, ensuring that all developed plans
                  are in consonance with the national development priorities and objectives.</li>
                <li>Led the development of the plan, design and construction schedules of all public, private, and
                  faith-based education facilities whether directly financed by the government or development partners.</li>
                <li>Led the development and implementation of the management information system that includes,
                  but is not limited to, educational statistics, national demographic records, etc.</li>
                <li>Spearheaded the development, review, revision, pilot testing, and updating of the national
                  curriculum at all levels.</li>
                <li>Served as the principal liaison between the Ministry of Education and the Ministry of Finance,
                  development partners, donor community, domestic, and external institutions involved
                  in education.</li>
                <li>Led the arm of the Ministry of Education responsible for the preparation of the Ministry of
                  Education annual report and budget.</li>
                <li>Served as the clearinghouse for education development activities and for the supervision of
                  construction, renovation, and expansion of schools and other education facilities.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Executive Director</h4>
              <h5>Liberia Institute for Science, Technology, Engineering and Mathematics (LISTEM)</h6>
              <h6>2017 - 2018</h6>
              <p><em>Sinkor, Monrovia, Liberia</em></p>
              <ul>
                <li>Promoted, honed, and enhanced the skills of Liberians in STEM through mentorship and scholarship.</li>
                <li>Created a culture of STEM-based research and innovation across schools and like-minded
                  institutions in Liberia, participating in various STEM-related education and innovative initiatives.</li>
                <li>Encouraged, promoted, and facilitated the culture of interdisciplinary research between STEM
                  and non-STEM disciplines.</li>
                <li>Organized seminars, workshops, training, documentations, public forums, dramas, jingles, and
                  debates to raise awareness.</li>
                <li>Impacted the skills and knowledge intended to enhance the capacity of deserving and talented
                  Liberians.</li>
                <li>Raised funds and received contributions where appropriate to finance research, innovation, and
                  other educational programs undertaken by the Institute and ensured accountability. Promoted
                  STEM education through recreations and sports.</li>
              </ul>
            </div>

             <div class="resume-item">
              <h4>Disaster Risk Analyst and STEM Specialist</h4>
              <h5>Ministry of Education-Liberia</h6>
              <h6>2015 - 2016</h6>
              <p><em>Oldest Congo Town, Monrovia, Liberia</em></p>
                <p>
                  Worked with Sara Skovgaard, the then UNICEF Education Focus person at the
                  Ministry of Education in :
                </p>
              <ul>
                <li>carrying out the disaster risk assesments for Liberia’s educational sector,</li>
                <li>developing a workable plan of how to provide education in time of emergency,</li>
                <li>working out a comprehensive plan of how Science, Technology, Engineering and Mathematics
                    education can be made a priority in Liberia.
                </li>
              </ul>
            </div>


             <div class="resume-item">
              <h4>Instructor of Physics and Mathematics</h4>
              <h5>University of Liberia</h6>
              <h6>2011 - 2012, 2015-2018</h6>
              <p><em>Fendell, Montserrado, Liberia</em></p>

              <ul>
                <li>Taught undergraduate Physics and Mathematics courses.</li>
                <li>provided academic guidance, undertook research projects.</li>
                <li>Performed other academic and professional activities as specified by the
                    Department of Physics and the University of Liberia.
                </li>
              </ul>
            </div>




          </div>
        </div>
      </div>
    </section><!-- End Resume Section -->



    <!-- Download Resume Section -->
    <section id="download-resume" class="download-resume">
      <div class="container">
        <div class="section-title">
          <h2>Download My Resume</h2>
          <p>
            Click the button below to download a detailed copy of my resume in PDF format.
          </p>
          <p>
            <a href="{% url 'download_resume' %}" class="btn btn-primary">Download My Resume (PDF)</a>
          </p>
        </div>
      </div>
    </section><!-- End Download Resume Section -->

{% endblock %}
